@{
    ViewBag.Title = "Acasa";
}

<h2>Prima pagină</h2>

<div>@Html.ActionLink("Catalog produse", "Index", "CatalogProduse")</div>

<div>@Html.ActionLink("Catalog proprietati", "IndexProp", "CatalogProduse")
</div>